.table-placeholder {
    text-align: center;
    color: rgb(160, 160, 160);
    margin-top: 8rem;
}

.table-placeholder__ellipses {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.table-placeholder__dot {
    border-radius: var(--border-radius-5);
    background-color: rgb(160, 160, 160);
    width: 0.5rem;
    height: 0.5rem;
    margin: 0 0.75rem;
}

.table-menu {
    display: flex;
    justify-content: centre;
    align-items: center;
}

@media (min-width: 400px) {
    .table-placeholder {
        margin-top: 10rem;
    }
}