.error {
  background-color: rgb(236, 172, 172);
  color: rgb(207, 26, 26);
  border-radius: var(--border-radius-5);
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
}

@media (min-width: 400px) {
  .error {
    width: 20rem;
  }
}
