.if__grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 1rem;
}

.if__field-label {
  display: block;
  font-weight: 600;
  margin: 0 0 0.25rem 0;
}

.if__field-input {
  box-sizing: border-box;
  border-radius: var(--border-radius-5);
  border: var(--dark-green-border);
  width: 100%;
  padding: 0.5rem;
}

.if__field-input:focus {
  outline: none;
}

.if__add-button {
  margin: 1rem 0;
}

@media (min-width: 400px) {
  .if__field {
    display: inline;
  }
  .if__grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 2rem;
  }
}
