.row-name::first-letter {
    text-transform: capitalize;
}

.quantity-button {
    border-radius: 50%;
    padding: 4px 10px
}

.quantity-button:hover {
    border: none;
}

.quantity-button.add {
    margin-right: 0.25rem;
}

.quantity-button.subtract {
    background-color: rgb(218, 23, 23);
}
