.stacked-bar-chart {
    background-color: white;
    border: var(--dark-green-border);
    border-radius: var(--border-radius-5);
    font-family: Arial, Helvetica, sans-serif;
    max-width: var(--max-content-width);
    margin: 1rem 0;
}