.row__header {
    font-weight: 300;
    white-space: nowrap;
}

.row__header::first-letter {
    text-transform: capitalize;
}

.row__remove-button {
    display: flex;
    align-items: center;
    justify-content: center;
}