:root {
  --dark-green: #348850;
  --border-radius-5: 5px;
  --dark-green-border: 2px solid var(--dark-green);
  --table-border: 0.5px solid black;
  --font-family-Ariel: Arial, Helvetica, sans-serif;
  --font-family-Impact: Impact, Haettenschweiler, 'Arial Narrow Bold',
    sans-serif;
  --max-content-width: 900px;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: var(--font-family-Ariel);
  width: 100vw;
  margin: 0;
}

footer {
  position: relative;
  bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-Impact);
}

h1 {
  font-size: 2rem;
  font-weight: 300;
  margin: 0;
}

button {
  border: none;
  background-color: var(--dark-green);
  font-family: var(--font-family-Impact);
  color: white;
}

button:hover {
  border: 1px solid white;
}

button:focus {
  outline: none;
}

a {
  text-decoration: none;
}

th,
td {
  min-width: 4rem;
  padding-right: 1rem;
}

.logo {
  display: inline;
  color: white;
}

.logo:hover {
  color: rgb(224, 224, 224);
}

.wrapper {
  width: 80%;
  max-width: var(--max-content-width);
  min-height: 90vh;
  margin: 0 auto;
}

.page-sub-section {
  margin: 3rem 0;
}

.page-sub-section__header {
  font-family: var(--font-family-Ariel);
  color: var(--dark-green);
}

.rectangular-button {
  border-radius: var(--border-radius-5);
  font-size: 1.05rem;
  height: 2.5rem;
  padding: 0.5rem 2rem;
  margin-right: 1rem;
}

.rectangular-button .material-symbols-outlined {
  font-size: 1.5rem;
}

.rectangular-button.reset {
  background-color: rgb(141, 0, 0);
}

.flex-center-all {
  display: flex;
  justify-content: center;
  align-items: flex;
}

.text-align-right {
  text-align: right;
}

.hyperlink {
  text-decoration: underline;
  color: black;
}

.hyperlink:hover,
.hyperlink.linkedin:hover {
  color: blue;
}

.hyperlink.linkedin {
  color: white;
}

.fine-print {
  font-size: 0.75rem;
}

.table-button {
  display: flex;
  align-items: center;
  border-radius: 50%;
  padding: 0.5rem;
}

.table-button:hover {
  background-color: #2a7041;
  border: none;
}

.table-button .material-symbols-outlined {
  font-size: 1.2rem;
}
