:root {
  --dark-green: #348850;
  --dark-red-button-hovering: rgb(112, 0, 0);
  --border-radius-5: 5px;
  --dark-green-border: 2px solid var(--dark-green);
  --table-border: 0.5px solid black;
  --font-family-Ariel: Arial, Helvetica, sans-serif;
  --font-family-Impact: Impact, Haettenschweiler, 'Arial Narrow Bold',
    sans-serif;
  --max-content-width: 900px;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: var(--font-family-Ariel);
  width: 100vw;
  margin: 0;
}

footer {
  position: relative;
  bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-Impact);
}

h1 {
  font-size: 2rem;
  font-weight: 300;
  margin: 0;
}

button {
  appearance: none;
  border: none;
  background-color: var(--dark-green);
  font-family: var(--font-family-Impact);
  color: white;
}

a {
  text-decoration: none;
}

th,
td {
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 4rem;
  max-width: 25rem;
  padding-right: 1rem;
}

.logo {
  display: inline;
  color: white;
}

.logo:hover {
  color: rgb(224, 224, 224);
}

.page-subsection {
  margin: 3rem 0;
}

.page-subsection__header {
  font-family: var(--font-family-Ariel);
  color: var(--dark-green);
}

.page-subsection__button {
  border-radius: var(--border-radius-5);
  font-size: 1.05rem;
  height: 2.5rem;
  padding: 0.5rem 2rem;
  margin: 1rem 1rem 1rem 0;
}

.page-subsection__button:hover,
.table__button:hover {
  background-color: #2a7041;
}

.page-subsection__button .material-symbols-outlined {
  font-size: 1.5rem;
}

.page-subsection__button--dark-red,
.table__button--dark-red {
  background-color: rgb(141, 0, 0);
}
.page-subsection__button--dark-red:hover,
.table__button--dark-red:hover {
  background-color: var(--dark-red-button-hovering);
} 

.table__button {
  display: flex;
  align-items: center;
  border-radius: 50%;
  padding: 0.5rem;
}

.table__button .material-symbols-outlined {
  font-size: 1.2rem;
}

.flex-center-all {
  display: flex;
  justify-content: center;
  align-items: flex;
}

.text-align-right {
  text-align: right;
}

.text-align-left {
  text-align: left;
}

.hyperlink {
  text-decoration: underline;
  color: black;
}

.hyperlink:hover,
.hyperlink.linkedin:hover {
  color: blue;
}

.hyperlink.linkedin {
  color: white;
}

.fine-print {
  font-size: 0.75rem;
}

