.quantity-form {
    margin-right: 0.5rem;
}

.quantity-form__input,
.quantity-form .table-button {
    display: inline;
}

.quantity-form__input {
    border: none;
    text-align: right;
    width: 4rem;
}

.quantity-form__input[placeholder] {
    font-size: 1rem;
}